@CHARSET "UTF-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, select, textarea, button {
  border: 0 none;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
}
//@media screen and(max-width: 1440px) {
//  body{
//    margin-left: auto;
//    margin-right: auto;
//    width: 1000px;
//  }
//}
//@media screen and(min-width: 1440px) {
//  body{
//    margin-left: auto;
//    margin-right: auto;
//    width: 1440px;
//  }
//}
strong{font-weight: bold}
ol, ul, li {list-style-type: none}
fieldset,img{border: medium none}
caption,th{text-align: left}
table{border-collapse: collapse;border-spacing: 0;}
body{font: 12px/1.5 "Microsoft YaHei",Arial,Helvetica,sans-serif;}
input,select,textarea{font: 12px/1.5 "Microsoft YaHei",Arial,Helvvetica,sans-serif;}
i,cite,em{font-style: normal}
input,button,select,textarea{outline: none}
button{cursor: pointer;}

/*链接*/
a {color: #40628d;outline: medium none;text-decoration: none;}
a:link,a:visited,a:active{text-decoration: none}

/*为旧版本浏览器格式后HTML5元素*/
section, article, aside, header, footer, nav, dialog, figure ,menu{display: block;}
output{display: inline;}
/*分割块*/
.clearfix::after {clear: both;content: ".";display: block;font-size: 0;height: 0;line-height: 0;overflow: hidden; }

/***
  **常用css重复使用属性
***/

.clear:after{float: none;content: '';display: block;clear: both;height: 0;font-size: 0;line-height: 0;}
/*按钮样式*/
.btn{
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  font-family: "Microsoft YaHei";
  cursor: pointer;
}
/*超出部分隐藏的通用样式*/
.overflow-ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
