$red: #f52f3e;
$blue: #008ee5;
$green: #74c348;
$grey: #999999;
$orange: #ff5501;
$yellow: #ff801a;
$purple: #6571b3;
$white: #ffffff;

$grey_dark: #666666;
$blue_dark: #008ee6;

$grey_light: #cccccc;
$green_light: #79c447;
$orange_light: #fb7e00;
$yellow_light: #fea90b;


